header, footer{
    color: white;
    background-color: #312c32;
    margin: 0em 4em 0.5em 4em;
}

h1, h2, h3, nav, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 0.75em;
}
h3 {
    font-size: 1.125em;
}
nav {
    font-size: 1.125em;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: #98dafc;
}
a:link {
    color: #98dafc;
    font-weight: bold;
}
a:visited {
    color: #daad86
}
a:hover {
    color: #FFFFCC
}
#large_image {
    border: 1px solid black;
    border-spacing: 0.25em;
    border-color: black;
    padding: 0.25em;
    width: 98%;
}
#share {
    font-size: 70%;
	border-radius: 1em;
	border: 2px solid transparent;
	background-image: url("images/gray-gradient.png");
	width: 98%;
	padding: 1em 0em 1em 1em;
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
    vertical-align:middle
}
#sharetxt {
    vertical-align: 0.5em;
}

.byline {
    border-top: 1px solid black;
    padding-top: 0.5em;
    font-style: italic;
    color: grey;
    font-size: 0.9em;
}
.comments {
    border-bottom: 1px dotted black;
    margin-bottom: 1em;
}
ul > li {
    display: inline-block;
    margin: 0.5em;
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
	font-size: 1.125em;
}
div {
    background-color: white;
    margin: 0em 4em 0.5em 4em;
    padding: 0.5em;
}
figure {
	padding-top: 0.5em;
}
#related {
	border-bottom: 1px solid black;
    margin-bottom: 0.5em;
}
